html, body {
background-color: #000000;
font-family: 'Annie Use Your Telescope', cursive;
}
.header {
	background-color: #000000;
	font-family: 'Annie Use Your Telescope';
	color: #2fd6bf;
	font-size: 20px;
}


.header ul {
	display: inline;
	}

.header ul.nav a.active {
	background-color: #ffffff;
}

.header ul.nav li a {

	display: inline;
}

.header ul.nav a {
	font-size: 25px;
	color: #2fd6bf;
	display: inline;
	margin-top: 20px;

}

.one {
	border-top: 0.25px solid #ffffff;
}


.main {
	color: #ffffff;
	font-size: 25px;
	text-align: center;
	
}

.main img.thumbnail {
	border: none;
	background: transparent;
}


.box {
	
	background-color: #000000;
	color: #2fd6bf;
}

.box ul {
	list-style-type: none;
}

input {
	background-color: #ffffff;
}

.footer {	
	color: #2fd6bf;
}

.footer .col-md-4 {
	text-align: center;
}

.footer {
	margin-top: 20px;
	border-top: 0.25px solid #ffffff;
}